<a href="https://colab.research.google.com/github/ASHIKAMOHAN/Sales_Forecasting/blob/main/Sales_Forecasting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import pandas as pd

file_path = '/content/drive/MyDrive/ML Data 3.csv'
df = pd.read_csv(file_path)

print(df)

          Rows No  Location ID    DealDate Currency Type  Type  Amount  \
0        28937647          140  04/01/2022      JMD    N     S   77000
1        28937648          140  04/01/2022      XCD    N     S    1000
2        28937649          140  04/01/2022      KRW    N     S  910000
3        28937650          140  04/01/2022      EUR    N     S     705
4        28937651          140  04/01/2022      TRY    N     S    3215
...           ...          ...         ...      ...  ...   ...     ...
8234155  46696722           38  30/04/2025      EUR    N     S     335
8234156  46696723           38  30/04/2025      EUR    N     B     200
8234157  46696724           38  30/04/2025      EUR    N     S     100
8234158  46696725           38  30/04/2025      JPY    N     S   27000
8234159  46696726          272  29/04/2025      EUR    N     S     340

          Value  OriginationID  OrderTypeID  Reatils rate
0        401.68              2            2      191.6949
1        293.17              2            2        3.4110
2        603.05              2            2     1508.9959
3        601.54              2            2        1.1720
4        200.15              2            2       16.0630
...         ...            ...          ...           ...
8234155  301.77              3            1        1.1101
8234156  144.46              3            1        1.3845
8234157   90.08              3            1        1.1101
8234158  155.04              3            1      174.1486
8234159  300.99             11            3        1.1296

[8234160 rows x 11 columns]